venv
src
*/src
Dockerfile
migrations
.sqlite3
*/migrations
*/.sqlite3
.git
node_modules
docker-compose.yml
Dockerfile
npm-debug.log
pnpm-lock.yaml
yarn-error.log
package-lock.json
*/node_modules
*/docker-compose.yml
*/Dockerfile
*/npm-debug.log
*/pnpm-lock.yaml
*/yarn-error.log
*/package-lock.json