.store_img_employee {
  width: 3rem;
  height: 3rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
  object-fit: cover;
  background: #ccc;
  border: .2rem solid white;
}

.styled-table {
  border-collapse: collapse;
  /* margin: 25px; */
  border-radius: .5rem;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #821A58;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #821A58;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}