.pageLoaderSpiner__wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(41, 9, 43, 0.8);
  z-index: 500;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.pageLoaderSpiner__wrapper span {
  font-weight: bold;
  color: #FFFF;
  font-size: 27px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.pageLoaderSpiner__wrapper .loader {
  --s: 10px;
 /* control the size */
  width: calc(10*var(--s));
  display: grid;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-mask: radial-gradient(50% 50%,#0000 calc(99% - 2*var(--s)),#000 calc(101% - 2*var(--s)));
  animation: r 2s linear infinite;
}

.pageLoaderSpiner__wrapper .loader:before {
  content: "";
  /* adjust the colors below */
  background: conic-gradient(from 25deg,#f8a201 25%,#821845 0 50%,#7E20BE 0 75%,#3730A3 0);
  -webkit-mask: repeating-conic-gradient(#0000 0 25deg,#000 23% 25%),
    radial-gradient(var(--s) at var(--s) 50%,#000 97%,#0000) 
      left/calc(100% - 2*var(--s)) 100% repeat-x,
    radial-gradient(var(--s) at 50% var(--s),#000 97%,#0000) 
      top /100% calc(100% - 2*var(--s)) repeat-y;
}

@keyframes r {
  to {
    transform: rotate(1turn)
  }
}
