.input_group {
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: .6rem;
}
.input_group input {
  border: none;
  border-bottom: .2rem solid #ccc;
  padding: .5rem;
  background-color: transparent;
  outline: none;
  width: 100%;
  color: #333;
}

.input_group .input_group__label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  top: .2rem;
  left: .2rem;
  color: #ccc;
  transition: all .3s ease;
  pointer-events: none;
}

.input_group input:focus ~ .input_group__label,
.input_group input:valid ~ .input_group__label {
  top: -1rem;
  color: #B452E5;
  font-weight: bold;
  font-size: .9rem;
}

.input_group input:focus ~ .input_group__label svg,
.input_group input:valid ~ .input_group__label svg {
  font-size: 1rem;
}

.input_group .input_group__underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: .2rem;
  width: 100%;
  background: #B452E5;
  transform: scaleX(0);
  transition: all 0.3s ease;
}
.input_group input:focus ~ .input_group__underline,
.input_group input:valid ~ .input_group__underline {
  transform: scaleX(1);
}

.primary_btn {
  color: #333;
}
.secondary_btn {
  background: #6228BD;
  color: white;
  padding: 12px;
  border-radius: .5rem;
  width: 100%;
  max-width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: bold;
  gap: .5rem;
  position: relative;
  overflow: hidden;
  transition: .3s all ease;
}
.secondary_btn svg {
  font-size: 20px;
  position: absolute;
  transform: translate(-1000%) scale(300%);
  transition: .3s all ease;
  pointer-events: none;
}

.secondary_btn:hover span {
  transition: .3s all ease;
  transform: translate(1rem);
  pointer-events: none;
}
.secondary_btn:hover svg {
  transform: translate(-2rem) scale(140%);
}



.page_title {
  font-size: 4rem;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: start;
  width: 100%;
  color: rgb(23, 7, 49);
  position: relative;
  gap: 1rem;
  margin-bottom: 2rem;
}
.page_title .title {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 2rem;
}

.page_title .tite_border {
  height: .5rem;
  width: 100%;
  position: absolute;
  background: rgb(104, 4, 104);
  left: 0;
  bottom: 0;
  border-radius: 1rem;
}