.main {
  min-height: 100vh;
  display: grid;
  align-items: center;
  padding: 1.4rem;
}
.icon_container {
  width: 8rem;
  height: 8rem;
  display: flex;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.icon_container .icon {
  height: 100%;
  object-fit: contain;
}
.form_content {
  width: 100%;
  padding: 1.2rem;
  max-width: 22rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}
.main.reset_password h3 {
  display: flex;
  gap: 6px;
}
.main.reset_password h3 svg {
  font-size: 36px;
}
.main.reset_password small {
  text-align: center;
  color: rgb(72, 0, 167);
}


.main.reset_password .form_content {
  /* max-width: 28rem; */
}

.form_content input {
  background: transparent;
}

.showPass {
  position: absolute;
  font-size: 1.4rem;
  right: .5rem;
  top: 0;
  bottom: 0;
  color: #ccc;
  transition: .3s all ease;
}
.showPass:hover {
  color: #B452E5;
}

.main form a:hover span {
  color: teal;
}