.fiter_by_company {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
  gap: 16px;
  font-size: clamp(10px, 5vw, 17px);
}
.fiter_by_company .companies_container {
  margin: 0;
  display: flex;
  width: 100%;
  max-width: 400px;
  position: relative;
}
.company_content,
.company_selcted {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 5px 16px;
  border-radius: 5px;
  width: 100%;
  border: 2px solid rgba(51,51,51,.1);
}
.company_selcted:hover {
  background: rgba(51,51,51,.3);
}

.company_selcted svg {
  transition: .1s all ease;
  justify-self: flex-end;
  margin-left: auto;
}

.company_selcted:hover svg {
  transform: scale(1.5);
}


.companies_list .img_preview,
.company_selcted .img_preview {
  width: clamp(35px, 5vw, 50px);
  height: clamp(35px, 5vw, 50px);
  border-radius: 100%;
  border: 2px solid #FFF;
}

.companies_list {
  height: 0px;
  overflow: hidden;
  position: absolute;
  background: #dadde6;
  width: 100%;
  box-shadow: 5px 5px 5px rgba(51,51,51,.3);
  border-radius: 5px;
  top: 100%;
  z-index: 1;
  transition: .3s all ease;
}
.companies_list.visible {
  height: max-content;
}


.companies_list .company_content {
  border: 2px solid transparent;
}
.companies_list .company_content:hover {
  background: rgba(51,51,51,.1);
}
