.layout {
  max-height: 100vh;
  overflow: hidden;
  /* border: 1px red solid; */
  display: flex;
  background: #E7EAF3;
  width: 100vw;
}
.right_content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.right_content .main_content {
  overflow-y: scroll;
  padding: 1rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  height: calc(100vh - 5rem);
}
