* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebar_wrapper {
  width: 100%;
  height: -webkit-fill-available;
  background: rgba(51, 51, 51,.7);
  position: fixed;
  transform: translateX(-200vw);
  transition: .3s all ease;
  z-index: 100;
}
.show.sidebar_wrapper {
  transform: translateX(0);
}
.sidebar__content {
  width: 180px;
  max-width: 300px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sidebar__btn_close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}


.sidebar__user_info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: .2rem solid rgba(206, 205, 205, .5);
  width: 100%;
}
.sidebar__user_info picture {
  height: 4rem;
  width: 4rem;
  display: flex;
}

.sidebar__user_info h3 {
  margin: 0;
  padding: 0;
}
.sidebar__menu {
  display: flex;
  height: 90%;
  width: 100%;
}
.menu_list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu_item {
  display: flex;
  border-bottom: .2rem solid rgba(206, 205, 205, .1);
}

.menu_link {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: .8rem 1rem;
  transition: .3s all ease;
}

.menu_link svg {
  transition: .3s all ease;
}


.menu_item:last-child {
  margin-top: auto;
  margin-bottom: 1rem;
}
.menu_item:last-child .menu_link {
  border-bottom: none;
}


@media (min-width: 768px) {
  .sidebar_wrapper {
    max-width: 180px;
    position: relative;
    transform: translateX(0);
  }
  .sidebar__content {
    min-width: 180px;
  }
  
  .sidebar__user_info {
    padding-left: 2rem;
  }

  .sidebar__btn_close {
    display: none;
  }


  .sidebar__content {
    width: 100%;
  }
  .menu_item .menu_link {
    padding-left: 2rem;
  }
  .menu_item .menu_link span {
    font-size: 17px;
  }

  .menu_item:hover .menu_link {
    margin-left: 1.4rem;
  }
  .menu_item:hover .menu_link svg {
    transform: scale(160%);
  }

}

@media (min-width: 1024px) {
  .sidebar_wrapper {
    max-width: 280px;
    position: relative;
    transform: translateX(0);
  }
  .menu_item .menu_link span {
    font-size: 22px;
  }
}